@tailwind base;
@tailwind components;
@tailwind utilities;

.display-none {
    display: none !important;
}

body::-webkit-scrollbar {
    display: none;
}

a {
    font-size: 1rem;
    transition: 0.1s ease-in;
}

a:hover {
    text-decoration: none;
    font-size: 1.15rem;
}

.home {
    text-decoration: 3px underline orange;
    text-underline-offset: 8px;
}

.home:hover {
    text-decoration: 3px underline orange;
    text-underline-offset: 8px;
}

.navbar {
    z-index: 2;
}

.bg-blocks {
    display: flex;
    justify-content: flex-end;
    margin-top: 35vh;
    z-index: 2;
    text-shadow: 2px 2px 1px black;
    color: white;
    margin-left: 30%;
}

.bg-block {
    position: relative;
    border-radius: 20px;
    height: 396px;
    width: 256px;
    margin-right: 2%;
    box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 1);
    cursor: pointer;
    transition: .3s ease-in;
    background-position: center;
}

.bg-block:hover {
    transform: scale(1.1);
}

.last {
    margin-right: -4%;
}

.first {
    background-image: url("/images/1.jpg");
    background-size: cover;
}

.second {
    background-image: url("/images/2.jpg");
    background-size: cover;
}

.third {
    background-image: url("/images/3.jpg");
    background-size: cover;
}

.fourth {
    background-image: url("/images/4.jpg");
    background-size: cover;
}

.fifth {
    background-image: url("/images/5.jpg");
    background-size: cover;
}

.bg-center {
    margin-right: auto;
    margin-left: auto;
    transition: all .1s linear;
}

.bg-ON {
    position: absolute;
    transition: 1.2s linear;
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto !important;
    margin-right: 0;
    box-shadow: none;
    border-radius: 0px;
    animation: myAnim 1s ease 0s 1 normal forwards;
}

@keyframes myAnim {
    0% {
        top: 30%;
        left: 30%;
        transform: scale(0.8);
    }

    100% {
        top: 0%;
        left: 0%;
        transform: scale(1);
    }
}

.description {
    position: absolute;
    margin-left: 3%;
    bottom: 5%;
    font-family: 'Anton', sans-serif;
}

.bordertop {
    width: 10%;
    border: solid white 1px;
    border-radius: 20px;
    margin-bottom: 1%;
}

.author {
    margin-bottom: 3%;
    font-size: 1.3rem;
    font-family: 'Amatic SC', cursive;
}

.place {
    letter-spacing: 0.1rem;
    line-height: 1.7rem;
    font-size: 2.5vh;
    width: 70%;
}

.description-ON {
    position: absolute;
    margin-left: 3%;
    top: 50%;
    font-family: 'Anton', sans-serif;
}

.bordertop-ON {
    width: 6vw;
    border: solid white 1px;
    border-radius: 20px;
    margin-bottom: 1%;
}

.author-ON {
    font-size: 4vh;
    font-family: 'Amatic SC', cursive;
}

.place-ON {
    margin-top: 2vh;
    letter-spacing: 0.1rem;
    line-height: 7vh;
    inline-size: 40vw;
    font-size: 7vh;
}

.discover {
    display: none;
    margin-top: 6vh;
    justify-content: flex-start;
}

.fa-bookmark {
    padding: 10px 14px 12px 13px;
    border: orange solid 1px;
    border-radius: 50%;
    background: orange;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.fa-bookmark:hover {
    transform: scale(1.2);
    color: rgb(241, 227, 17);
}

.discover p {
    opacity: 0.9;
    margin-left: 5vh;
    padding: 6px 14px 6px 14px;
    border: rgb(255, 255, 255) solid 1px;
    border-radius: 20px;
    font-family: 'Amatic SC', cursive;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.2s ease-out;
}

.discover p:hover {
    transform: scale(1.2);
    opacity: 1;
    background: white;
    color: rgba(0, 0, 0, 0.3);
    text-shadow: 0px 0px 0px black;
}

.navigation {
    position: absolute;
    margin-left: 40%;
    width: 58%;
    height: 20%;
    bottom: 0;
    padding-top: 3%;
    display: flex;
    flex-direction: wrap;
    align-items: center;
}

.circle {
    height: 80px;
    width: 80px;
    margin-left: 20px;
    border: 1px solid white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.1s ease-in;
}

.circle:hover {
    transform: scale(1.08);
    background-color: white;
    color: black;
    text-shadow: none;
}

.line {
    margin-left: 5%;
    width: 60%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    height: 0%;
}

.line-progress {
    width: 20%;
    border: 2px solid orange;
    border-radius: 20px;
    height: 0%;
    transition: 1s ease-in;
}

#text {
    font-size: 5rem;
    margin-left: 3%;
}

#loading {
    top: 0;
    height: 8px;
    border-radius: 20px;
    background: orange;
    position: absolute;
    animation: mymove 6s ease-out infinite;
}

@keyframes mymove {
    from {left: -100%; width: 100%;}
    to {left: 100%; width: 1%;}
}