@tailwind base;
@tailwind components;
@tailwind utilities;

.display-none {
    display: none !important;
}

body::-webkit-scrollbar {
    display: none;
  }

a:hover {
    text-decoration: none;
}

.home {
    text-decoration: 3px underline orange;
    text-underline-offset: 8px;
}

.home:hover {
    text-decoration: 3px underline orange;
    text-underline-offset: 8px;
}

.navbar {
    z-index: 2;
}

.bg-blocks {
    display: flex;
    justify-content: flex-end;
    margin-top: 40vh;
    z-index: 2;
}

.bg-block {
    position: relative;
    font-family: "Times New Roman", Times, serif;
    border-radius: 20px;
    height: 396px;
    width: 256px;
    margin-right: 2%;
    box-shadow: 0px 0px 22px 0px rgba(0, 0, 0, 1);
    color: white;
}

.last {
    margin-right: -4%;
}

#first {
    background-image: url("/images/1.jpg");
    background-size: 700px;
}

#second {
    background-image: url("/images/2.jpg");
    background-size: 300px;
}

#third {
    background-image: url("/images/3.jpg");
    background-size: 300px;
}

#fourth {
    background-image: url("/images/4.jpg");
    background-size: 300px;
}

#fifth {
    background-image: url("/images/5.jpg"); 
    background-size: 700px;
}

.bg-ON{
    position: absolute;
    height: 100%;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: auto !important;
    margin-right: 0;
    box-shadow: 0px 0px 0px 0px rgb(0, 0, 0);
    border-radius: 0px;
    z-index: 0 !important;
    top: 0;
    right: 0;
}

.description {
    position: absolute;
    margin-left: 5%;
    bottom: 10%;
}

.bordertop {
    width: 10%;
    border: solid white 1px;
    margin-bottom: 1%;
}

.author {
    margin-bottom: 3%;
}

.place
{
    letter-spacing: 0.1rem;
    line-height: 1.5rem;
    font-size: 2.5vh;
}